In [2]:
## linear regression Y = wX+b
## gradient descent w = w-a*dw, b = b - a*db

In [13]:
import numpy as np

### Linear Regression model

In [14]:
class LinearRegression:

    def __init__(self, learning_rate = 0.5, n_iter = 1):
        self.learning_rate = learning_rate
        self.n_iter = n_iter

    def fit(self, X, Y):

        self.m, self.n = X.shape
        
        #initiate values with zeros
        self.w = np.zeros(self.n)
        self.b = 0
        self.X = X
        self.Y = Y

        for i in range(self.n_iter):
            self.update_weights()

    def update_weights(self):

        Y_predictions = self.predict(self.X)

        # calculating gradient
        deltaY = self.Y - Y_predictions
        dw = -2 * (self.X.T.dot(deltaY)) / self.m
        db = -2 * np.sum(deltaY) / self.m

        self.w = self.w - self.learning_rate * dw
        self.b = self.b - self.learning_rate * db

    def predict(self, X):
        
        return X.dot(self.w) + self.b

In [15]:
import pandas as pd

data = pd.read_csv('./salary_data.csv')

In [16]:
data.drop(columns=['Salary'], axis=1)

    YearsExperience
0               1.1
1               1.3
2               1.5
3               2.0
4               2.2
5               2.9
6               3.0
7               3.2
8               3.2
9               3.7
10              3.9
11              4.0
12              4.0
13              4.1
14              4.5
15              4.9
16              5.1
17              5.3
18              5.9
19              6.0
20              6.8
21              7.1
22              7.9
23              8.2
24              8.7
25              9.0
26              9.5
27              9.6
28             10.3
29             10.5

In [44]:
custLR = LinearRegression(learning_rate=0.3, n_iter=3)

custLR.fit(
    data.drop(columns=['Salary'], axis=1), data['Salary']
)

In [45]:
Y_predictions = custLR.predict(data.drop(columns=['Salary'], axis=1))

In [46]:
## MAE 

mae = (np.sum(data['Salary'] - Y_predictions))/data.shape[0]
mae

-664942562.382582